<%= bootstrap_form_for @recusal do |f| %>
  <% if @recusal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recusal.errors.count, "error") %> prohibited this recusal from being saved:</h2>

      <ul>
      <% @recusal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.select :user_id, options_from_collection_for_select(User.all, :id, :name) %> 
    <%= f.select :candidate_id, options_from_collection_for_select(User.all, :id, :name) %> 
    <%= f.primary %>
<% end %>
<br>
