<p id="notice"><%= notice %></p>

<h1>Listing Recusals</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Candidate</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @recusals.each do |recusal| %>
      <tr>
        <td><%= recusal.user.name %></td>
        <td><%= recusal.candidate.name %></td>
        <td><%= link_to 'Rescind', recusal, method: :delete, data: { confirm: 'Are you sure?' }, class: 'badge' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recusal', new_recusal_path, class: 'btn btn-primary' %>
