<p id="notice"><%= notice %></p>

<p>
  <strong>Candidate profile:</strong>
  <%= @candidate_profile.candidate_profile_id %>
</p>

<p>
  <strong>Curriculum vitae:</strong>
  <%= @candidate_profile.Curriculum_Vitae %>
</p>

<p>
  <strong>Teaching statement:</strong>
  <%= @candidate_profile.Teaching_Statement %>
</p>

<p>
  <strong>Research statement:</strong>
  <%= @candidate_profile.Research_Statement %>
</p>

<p>
  <strong>Service statement in:</strong>
  <%= @candidate_profile.Service_statement_in %>
</p>

<p>
  <strong>Additional materials:</strong>
  <%= @candidate_profile.Additional_Materials %>
</p>

<p>
  <strong>User:</strong>
  <%= @candidate_profile.user_id %>
</p>

<p>
  <strong>User department:</strong>
  <%= @candidate_profile.User_department_id %>
</p>

<%= link_to 'Edit', edit_candidate_profile_path(@candidate_profile) %> |
<%= link_to 'Back', candidate_profiles_path %>
