<%= form_for(@convert) do |f| %>
  <% if @convert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@convert.errors.count, "error") %> prohibited this convert from being saved:</h2>

      <ul>
      <% @convert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :download %><br>
    <%= f.text_field :download %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
