<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize @user.errors.count, "error" %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :netid, "UNM Net ID" %><br>
    <%= f.text_field :netid %> <%#, :readonly => true %>
  </div>
  <div class="field">
    <%= f.label "Name" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Role" %><br>
    <%= f.select :role, options_for_select(@roles) %>
  </div>
  <div class="field">
    <%= f.label "Department" %><br>
    <% f.select :department, options_for_select(@departments) %>
  </div>
  <div class="actions">
    <%= f.submit value: "Save Candidate" %>
  </div>
<% end %>
