<%= bootstrap_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize @user.errors.count, "error" %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.text_field :netid %> <%#, :readonly => true %>
    <%= f.text_field :name %>
    <%= f.select :role_id, options_from_collection_for_select(Role.all, :id, :name) %>
    <%= f.select :department_id, option_groups_from_collection_for_select(College.all, :departments, :name, :id, :name) %>
    <%= f.primary "Save Candidate" %>
<% end %>
<br>
