<%= link_to 'Create New Candidate', new_user_path, class: "btn btn-lg btn-primary" %>
    <% @users.group_by(&:role).each do |role, users| %>

    <% if users.any? {|u| u.department == current_user.department} && role.in?(@roles) || super_user %>
    <h1><%= role %></h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>NetID</th>
          <th>Name</th>
          <th>Role</th>
          <th>Department</th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
    <% users.each do |user| %>
      <% if user.department==current_user.department || super_user %>
        <tr>
            <td><%= user.netid %></td>
            <td><%= user.name %></td>
            <td><%= user.role %></td>
            <td><%= user.department %></td>
            <% if !(/andida/ =~ user.role) %>
            <td><%= link_to 'Roles', user_owned_roles_path(user), class: "badge" %></td>
            <% end %>
            <td><%= link_to 'Edit', edit_user_path(user), class: "badge" %></td>
            <td><%= link_to raw('<i class="fa fa-trash-o"></i> Delete'), user, method: :delete, data: { confirm: 'Are you sure?' }, class: "badge" %></td>
            <% if File.exists?("public/#{user.netid}.pdf") %>
              <td><%= link_to 'Dossier', "http://129.24.24.150/#{user.netid}.pdf", class: "badge" %></td>
            <% else %>
              <td><span class="badge alert-warning" data-toggle="tooltip" data-placement="top" title="Not Available">Dossier</span></td>
            <% end %>
        </tr>
        <% end %>
        <% end %>
      <% end %>
    </tbody>
    </table>
    <% end %>

<br>
