<p id="notice"><%= notice %></p>
<h1>Listing users</h1></center>

<table>
  <thead>
    <tr>
      <h5>User</h5>
      <h5>Acces level</h5>
      <h5>Department</h5>
      <h5>Is faculty</h5>
      <h5>First name</h5>
      <h5>Last name</h5>
      <h5>Email</h5>
      <h5>Committee</h5>
      <h5>Department college</h5>
      <h5></h5>
      <h5></h5>
      <h5></h5>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <%= user.first_name %>
        <%= user.last_name %>
        <%= link_to '  Show    ', user %>
        <%= link_to '  Edit    ', edit_user_path(user) %>
        <%= link_to '  Destroy    ', user, method: :delete, data: { confirm: 'Are you sure?' } %><%= link_to '  Create Profile    ', edit_candidate_profile_path(user) %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %></br>
<%= link_to 'Home Page', homes_path %>
