<p>
  <strong>NetID:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.department %>
</p>

<p>
  <strong>Department:</strong>
  <%= @user.department %>
</p>

<p>
  <strong>Dossier:</strong>
  <%= link_to('Download', 'http://129.24.24.152/#{@user}.pdf') %>
</p>


