<h1>Listing default_roles</h1>

<table>
  <thead>
    <tr>
      <th>Role</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @default_roles.each do |default_role| %>
      <tr>
        <td><%= default_role.role %></td>
        <td><%= default_role.owner %></td>
        <td><%= link_to 'Show', default_role %></td>
        <td><%= link_to 'Edit', edit_default_role_path(default_role) %></td>
        <td><%= link_to 'Destroy', default_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Default role', new_default_role_path %>
