<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @default_role.role %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @default_role.owner %>
</p>

<%= link_to 'Edit', edit_default_role_path(@default_role) %> |
<%= link_to 'Back', default_roles_path %>
