<%= form_for([@user, @owned_role]) do |f| %>
  <% if @owned_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@owned_role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @owned_role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :role %><br>
    <%= f.select :role, options_for_select(@roles) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
