<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @owned_role.role %>
</p>

<p>
  <strong>User:</strong>
  <%= @owned_role.user %>
</p>

<%= link_to 'Edit', edit_user_owned_role_path %>
<%= link_to 'Back', user_owned_roles_path %>
