<% if !@done %>
  filesdone++;
  percentComplete=(filesdone / allfiles) * 100;
  $('.bar').css({ "width": percentComplete + "%" });
  $('#compile').html("Category: <%= @category %><br>File: <%= @upload %><br>Status: <%= @step %>");
  <% if @step %>
    <%= @step %>++;
  <% end %>
  $.ajax("/compile/<%= @catindex %>/<%= @uploadindex %>");
<% else %>
  $('#begin').html('<h1>All done!</h1>' + error + ' errors<br>' + finished + ' complete<br><%= link_to "Next Step", converts_path, class: "btn btn-primary" %>');
  $('.progress').hide();
<% end %>
