<% if !@done %>
  <% if @upload %>
    filesdone++;
    percentComplete=(filesdone / allfiles) * 100;
    $('.bar').css({ "width": percentComplete + "%" });
    $('.bar').html(percentComplete.toFixed(2) + "%");
  <% end %>
  $('#compile').html("Category: <%= @category %><br>File: <%= @upload %><br>Status: <%= @step %>");
  <% if @step %>
    <%= @step %>++;
  <% end %>
  $.ajax("/compile/<%= @catindex %>/<%= @uploadindex %>");
<% else %>
  $('#begin').html('<h2>Assembling and indexing...</h2><%= image_tag "compile.gif" %>');
  $.ajax("/compile/compile");
<% end %>
