<h1>UNM Tenure & Promotion Home Page!</h1>



<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <td><%= link_to 'Show', home %></td>
        <td><%= link_to 'Edit', edit_home_path(home) %></td>
        <td><%= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<<<<<<< HEAD
<div class="container">
            <div class="grid fluid">
                <div class="row">
			<%= link_to 'Candidate Profile', candidate_profiles_path, :class => "tile bg-color-blue" %>
			<%= link_to 'College', colleges_path, :class => "tile bg-color-redLight" %>
			<%= link_to 'Committee Evaluations', committee_evaluations_path, :class => "tile bg-color-blueDark" %>
		</div>
	    </div>
</div>
<div class="container">
            <div class="grid fluid">
                <div class="row">
			<%= link_to 'Committees', committees_path, :class => "tile bg-color-magenta" %>
			<%= link_to 'Departments', departments_path, :class => "tile bg-color-greenLight" %>
			<%= link_to 'Reviews', reviews_path, :class => "tile bg-color-purple" %>
		</div>
	    </div>
</div>
<div class="container">
            <div class="grid fluid">
                <div class="row">
<%= link_to 'Users', users_path, :class => "tile bg-color-red" %>
<%= link_to 'Votes', votes_path, :class => "tile bg-color-pink" %>
		</div>
	    </div>
</div>
=======
<%= link_to 'Candidate Profile', candidate_profiles_path %></br>
<%= link_to 'College', colleges_path %></br>
<%= link_to 'Committee Evaluations', committee_evaluations_path %></br>
<%= link_to 'Committees', committees_path %></br>
<%= link_to 'Departments', departments_path %></br>
<%= link_to 'Reviews', reviews_path %></br>
<%= link_to 'Users', users_path %></br>
<%= link_to 'Votes', votes_path %></br>
<%= link_to 'Candidate View', candidate_view_path %>
>>>>>>> bae0728b7a32fbda1b1c9a48bd47dee337ea7e70
