<h1>UNM Tenure & Promotion Home Page</h1>





<div class="container" style="background: url(images/b1.jpg) top left no-repeat; background-size: contain; height: 200px; ">
            <div class="grid fluid">
                <div class="row">
<%= link_to 'Candidate View', candidate_view_path, :class => "tile bg-color-green" %>
<%= link_to 'Department Admin View', department_admin_view_path, :class => "tile bg-color-greenDark" %>

<%= link_to 'College Admin View', college_admin_view_path, :class => "tile bg-color-Black" %>

<%= link_to 'Provost Admin View', provost_admin_view_path, :class => "tile bg-color-blueDark" %>
<%= link_to 'Department Faculty View', department_faculty_view_path, :class => "tile bg-color-blue" %>
<%= link_to 'College Commitee Faculty View', college_committee_faculty_view_path, :class => "tile bg-color-red" %>
<%= link_to 'Provost Commitee Faculty View', provost_committee_faculty_view_path, :class => "tile bg-color-orange" %>
<%= link_to 'Senior Vice Provost View', senior_vice_provost_view_path, :class => "tile bg-color-orangeDark" %>
<%= link_to 'Associate Vice Provost Faculty View', associate_vice_provost_faculty_view_path, :class => "tile bg-color-pink" %>


		</div>
	    </div>
</div>
