<h1>Listing Committees</h1>

<table>
  <thead>
    <tr>
      <h5>Committee</h5>
      <h5>Name</h5>
      <h5>Department</h5>
      <h5>Department college</h5>
      <h5></h5>
      <h5></h5>
      <h5></h5>
    </tr>
  </thead>

  <tbody>
    <% @committees.each do |committee| %>
      <tr>
        <td><%= committee.committee_id %></td>
        <td><%= committee.name %></td>
        <td><%= committee.department_id %></td>
        <td><%= committee.department_college_id %></td>
        <td><%= link_to 'Show', committee %></td>
        <td><%= link_to 'Edit', edit_committee_path(committee) %></td>
        <td><%= link_to 'Destroy', committee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Committee', new_committee_path %></br>
<%= link_to 'Home Page', homes_path %>
