<p id="notice"><%= notice %></p>

<p>
  <strong>Committee:</strong>
  <%= @committee.committee_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @committee.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @committee.department_id %>
</p>

<p>
  <strong>Department college:</strong>
  <%= @committee.department_college_id %>
</p>

<%= link_to 'Edit', edit_committee_path(@committee) %> |
<%= link_to 'Back', committees_path %>
