<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @role.level.humanize %>
</p>
<p>
  <%= link_to 'Edit', edit_role_path(@role), class: 'btn btn-warning' %>
</p>
<p>
  <%= link_to 'Done', roles_path, class: 'btn btn-success' %>
</p>
