<h2>Dossier Sections for <%= @user.name %></h2>
<table class="table table-striped table-hover warning">
  <tbody>
  <% @categories.each do |category| %>
    <tr>
      <td><%= link_to category.name, category, class: 'display: block;' %></td>
      <td><span class="badge"><%= category.uploads.length %></span></td>
    </tr>
  <% end %>
    <tr>
      <td><strong>Total:</strong></td>
      <td><span class="badge"><%= @total %></span></td>
    </tr>
  </tbody>
</table>
<%= link_to 'Preview Dossier', compile_path, class: 'btn btn-primary' %>
<br><br>
<%= link_to 'Submit Final Dossier', submit_path, class: 'btn btn-success', data: { confirm: 'By selecting, Yes, I acknowledge that my dossier is complete and ready for review. Any additional changes must be made through an administrator.' } %> 
<script>
$(function () { $.fn.twitter_bootstrap_confirmbox.defaults = {
    fade: false,
    title: null, // if title equals null window.top.location.origin is used
    cancel: "No",
    cancel_class: "btn cancel",
    proceed: "Yes",
    proceed_class: "btn proceed btn-primary"
} });
</script>

