<h2>Dossier Sections for <%= @user.name %></h2>
<table class="table table-striped table-hover warning">
  <tbody>
  <% @categories.each do |category| %>
    <%  unless current_user.role =~ /andida/ && category.name =~ /College|Department|Dean|External/ %>
      <tr>
      <td><%= link_to category.name, category, class: 'display: block;' %></td>
      <td><span class="badge"><%= category.uploads.length %></span></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<%= link_to 'Preview Dossier', compile_path, class: 'btn btn-primary' %>
<br><br>
<%= link_to 'Submit Dossier', submit_path, class: 'btn btn-danger', data: { confirm: 'Are you sure? You will not be able to add anything else to your dossier' } %> 
