<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :candidate_profile_id %><br>
    <%= f.number_field :candidate_profile_id %>
  </div>
  <div class="field">
    <%= f.label :begin %><br>
    <%= f.datetime_select :begin %>
  </div>
  <div class="field">
    <%= f.label :end %><br>
    <%= f.datetime_select :end %>
  </div>
  <div class="field">
    <%= f.label :college_type %><br>
    <%= f.text_field :college_type %>
  </div>
  <div class="field">
    <%= f.label :committee_id %><br>
    <%= f.number_field :committee_id %>
  </div>
  <div class="field">
    <%= f.label :committee_department_id %><br>
    <%= f.number_field :committee_department_id %>
  </div>
  <div class="field">
    <%= f.label :committee_department_college_id %><br>
    <%= f.number_field :committee_department_college_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
