<p id="notice"><%= notice %></p>

<p>
  <strong>Review:</strong>
  <%= @vote.Review_id %>
</p>

<p>
  <strong>Review candidate profile:</strong>
  <%= @vote.Review_Candidate_Profile_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @vote.user_id %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
