<!DOCTYPE html>
<html>
<head>
  <title>UNM Tenure and Promotion</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= nav_bar do %>
 <%= menu_group do %>
        <%= menu_item "Home", users_path %>
        <%= menu_divider %>
        <%= drop_down "Products" do %>
            <%= menu_item "Things you can't afford", users_path %>
            <%= menu_item "Things that won't suit you anyway", users_path %>
            <%= menu_item "Things you're not even cool enough to buy anyway", users_path %>
        <% end %>
        <%= menu_item "About Us", users_path %>
        <%= menu_item "Contact", users_path %>
    <% end %>
<% end %>

<%= yield %>

</body>
</html>
