<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="favicon.ico" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "UNM Tenure & Promotion" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->


  <body class="metrouicss" style="overflow: scrollbar;">
    <div class="page">
      <div class="nav-bar bg-color-darken">
        <div class="nav-bar-inner padding10">
          <span class="pull-menu"></span>
          <a href="/">
            <span class="element brand">
              <span class="metro-ui-logo place-left"></span>
              <span class="name">UNM Tenure &amp; Promotion</span>
            </span>
          </a>

          <ul class="menu">
            <li><%= link_to "Home", "/" %></li>
	    <li style="color: white;">Welcome, <%= raw session[:cas_user]%></li>
       <li style="margin-left: 600px" data-role="dropdown">
                <li><%= link_to "Sign Out", "#{Rails.application.config.rubycas.cas_base_url}logout" %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
       


      <!-- Department Admin NavBar --> 
       <% if @pagetype==2 %>   
       <div class="nav-bar bg-color-darken">
        <div class="nav-bar-inner padding10">
          <ul class="menu">
            <li><%= link_to "Start", department_admin_view_path %></li>
            <li><%= link_to "Confidentiality", confidentialityda_path %></li>
            <li><%= link_to "Candidate Selection", select_a_candidateda_path %></li>
            <li><%= link_to "Candidate Dossier", candidates_dossierda_path %></li>
            <li><%= link_to "Letters Of Recommendation", letters_of_reccomendationda_path %></li>
            <li><%= link_to "Evaluation Form", evaluation_formda_path %></li>
            <li><%= link_to "Review And Vote", review_and_voteda_path %></li>
          </ul>
        </div>
      </div>
      <% end %>

      <!-- Department Faculty NavBar -->
      <% if @pagetype==3 %>   
      <div class="nav-bar bg-color-darken">
        <div class="nav-bar-inner padding10">
          <ul class="menu">
            <li><%= link_to "Start", department_faculty_view_path %></li>
            <li><%= link_to "Confidentiality", confidentialitydf_path %></li>
            <li><%= link_to "Your Candidate", select_a_candidatedf_path %></li>
            <li><%= link_to "Candidate Dossier", candidates_dossierdf_path %></li>
            <li><%= link_to "Letters Of Recommendation", letters_of_reccomendationdf_path %></li>
            <li><%= link_to "Evaluation Form", evaluation_formdf_path %></li>
            <li><%= link_to "Review And Vote", review_and_votedf_path %></li>
          </ul>
        </div>
      </div>
      <% end %>


        <!-- College Admin NavBar --> 
       <% if @pagetype==4 %>   
      <div class="nav-bar bg-color-darken">
        <div class="nav-bar-inner padding10">
          <ul class="menu">
            <li><%= link_to "Start", college_admin_view_path %></li>
            <li><%= link_to "Confidentiality", confidentialityca_path %></li>
            <li><%= link_to "Candidate Selection", select_a_candidateca_path %></li>
            <li><%= link_to "Candidate Dossier", candidates_dossierca_path %></li>
            <li><%= link_to "Letters Of Recommendation", letters_of_reccomendationca_path %></li>
            <li><%= link_to "Department Reviews", department_reviewsca_path %></li>
            <li><%= link_to "Evaluation Form", evaluation_formca_path %></li>
            <li><%= link_to "Review And Vote", review_and_voteca_path %></li>
          </ul>
        </div>
      </div>
      <% end %>


        <!-- College Committee Faculty NavBar --> 
       <% if @pagetype==5 %>   
      <div class="nav-bar bg-color-darken">
        <div class="nav-bar-inner padding10">
          <ul class="menu">
            <li><%= link_to "Start", college_committee_faculty_view_path %></li>
            <li><%= link_to "Confidentiality", confidentialityccf_path %></li>
            <li><%= link_to "Your Candidate", select_a_candidateccf_path %></li>
            <li><%= link_to "Candidate Dossier", candidates_dossierccf_path %></li>
            <li><%= link_to "Letters Of Recommendation", letters_of_reccomendationccf_path %></li>
            <li><%= link_to "Department Reviews", department_reviewsccf_path %></li>
            <li><%= link_to "Evaluation Form", evaluation_formccf_path %></li>
            <li><%= link_to "Review And Vote", review_and_voteccf_path %></li>
          </ul>
        </div>
      </div>
      <% end %> 


        <!-- Provost Admin NavBar --> 
       <% if @pagetype==6 %>   
      <div class="nav-bar bg-color-darken">
        <div class="nav-bar-inner padding10">
          <ul class="menu">
            <li><%= link_to "Start", provost_admin_view_path %></li>
            <li><%= link_to "Confidentiality", confidentialitypa_path %></li>
            <li><%= link_to "Candidate Selection", select_a_candidatepa_path %></li>
            <li><%= link_to "Candidate Dossier", candidates_dossierpa_path %></li>
            <li><%= link_to "Letters Of Recommendation", letters_of_reccomendationpa_path %></li>
            <li><%= link_to "Department Reviews", department_reviewspa_path %></li>
            <li><%= link_to "College Reviews", college_reviewspa_path %></li>
            <li><%= link_to "Evaluation Form", evaluation_formpa_path %></li>
            <li><%= link_to "Review And Vote", review_and_votepa_path %></li>
          </ul>
        </div>
      </div>
      <% end %> 

          <!-- Provost Committee Faculty NavBar --> 
       <% if @pagetype==7 %>   
      <div class="nav-bar bg-color-darken">
        <div class="nav-bar-inner padding10">
          <ul class="menu">
            <li><%= link_to "Start", provost_committee_faculty_view_path %></li>
            <li><%= link_to "Confidentiality", confidentialitypcf_path %></li>
            <li><%= link_to "Your Candidate", select_a_candidatepcf_path %></li>
            <li><%= link_to "Candidate Dossier", candidates_dossierpcf_path %></li>
            <li><%= link_to "Letters Of Recommendation", letters_of_reccomendationpcf_path %></li>
            <li><%= link_to "Department Reviews", department_reviewspcf_path %></li>
            <li><%= link_to "College Reviews", college_reviewspcf_path %></li>
            <li><%= link_to "Evaluation Form", evaluation_formpcf_path %></li>
            <li><%= link_to "Review And Vote", review_and_votepcf_path %></li>
          </ul>
        </div>
      </div>
      <% end %> 

      <!-- Senior Vice Provost  NavBar --> 
       <% if @pagetype==8 %>   
      <div class="nav-bar bg-color-darken">
        <div class="nav-bar-inner padding10">
          <ul class="menu">
            <li><%= link_to "Start", senior_vice_provost_view_path %></li>
            <li><%= link_to "Confidentiality", confidentialitysvp_path %></li>
            <li><%= link_to "Candidate Selection", select_a_candidatesvp_path %></li>
            <li><%= link_to "Candidate Dossier", candidates_dossiersvp_path %></li>
            <li><%= link_to "Letters Of Recommendation", letters_of_reccomendationsvp_path %></li>
            <li><%= link_to "Department Reviews", department_reviewssvp_path %></li>
            <li><%= link_to "College Reviews", college_reviewssvp_path %></li>
            <li><%= link_to "Evaluation Form", evaluation_formsvp_path %></li>
            <li><%= link_to "Review And Vote", review_and_votesvp_path %></li>
          </ul>
        </div>
      </div>
      <% end %> 

      <!-- Associate Vice Provost Faculty NavBar --> 
       <% if @pagetype==9 %>   
      <div class="nav-bar bg-color-darken">
        <div class="nav-bar-inner padding10">
          <ul class="menu">
            <li><%= link_to "Start", associate_vice_provost_faculty_view_path %></li>
            <li><%= link_to "Confidentiality", confidentialityapf_path %></li>
            <li><%= link_to "Candidate Selection", select_a_candidateapf_path %></li>
            <li><%= link_to "Candidate Dossier", candidates_dossierapf_path %></li>
            <li><%= link_to "Letters Of Recommendation", letters_of_reccomendationapf_path %></li>
            <li><%= link_to "Department Reviews", department_reviewspa_path %></li>
            <li><%= link_to "College Reviews", college_reviewsapf_path %></li>
            <li><%= link_to "Evaluation Form", evaluation_formapf_path %></li>
            <li><%= link_to "Review And Vote", review_and_voteapf_path %></li>
          </ul>
        </div>
      </div>
      <% end %> 






      


      <div class="page-region" style="height: 1000px">
        <div class="page-region-content">
          <div class="grid">
            <div class="row">
		<div style="background: url(images/b1.jpg) no-repeat left bottom; background-size: contain ; height: 200px; ">
	            <div class="container" style="padding: 50px 20px">
	                <h1><%=  @pagename %></h1>
		<% if @pagetype==1 %>
    <h2>
		Browse for your <%= @pagename %> on your computer.<br>Accepted formats are Microsoft Word, Microsoft Powerpoint, and 			PDF<br>
                </h2>
            	</div>
		</div>
              <%= yield %>
		<form action="http://www.cs.tut.fi/cgi-bin/run/~jkorpela/echo.cgi"
enctype="multipart/form-data" method="post">
    <div class="text-center">
		Upload your <%= @pagename %> here:
		<br>
		<input type="file" name="datafile" size="40">
		<input type="submit" value="Upload"> 
    <% else %>
    <%= yield %>
    <% end %>
		</div>
            </div>
          </div>
        </div>
      </div>
  


   

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>    

  </body>
</html>
